In [1]:
from numpy.random import randn

In [23]:
import pandas as pd

In [27]:
import numpy as np

In [13]:
df=pd.DataFrame(randn(5,6),['A','B','C','D','G'],['A','B','C','D','G','F'])

In [20]:
df['A']

A   -0.072851
B    0.749120
C    0.943171
D    0.191116
G    0.308596
Name: A, dtype: float64

In [21]:
df

          A         B         C         D         G         F
A -0.072851  2.408038  1.733652 -1.172790  0.267582  0.301962
B  0.749120  1.789837 -0.347599  0.158125  0.030130 -0.423488
C  0.943171 -1.535518  0.620289  0.025922 -0.628316 -0.041838
D  0.191116  1.840702  0.507273 -0.066672  0.435108  0.705950
G  0.308596 -0.524777  0.165089  1.377872  0.633433  0.316901

In [30]:
np.array([[1,2,3,6,4],[5,9,6,3,2]])

array([[1, 2, 3, 6, 4],
       [5, 9, 6, 3, 2]])

In [40]:
df2=pd.DataFrame(randn(3,4),['A','B','C'],['M','D','F','G'])

In [45]:
df[['B','D']]

          B         D
A  2.408038 -1.172790
B  1.789837  0.158125
C -1.535518  0.025922
D  1.840702 -0.066672
G -0.524777  1.377872

In [49]:
df['new']=df['F']+df['A']

In [55]:
df.drop('B',axis=1)

          A         C         D         G         F       new
A -0.072851  1.733652 -1.172790  0.267582  0.301962  0.229111
B  0.749120 -0.347599  0.158125  0.030130 -0.423488  0.325632
C  0.943171  0.620289  0.025922 -0.628316 -0.041838  0.901334
D  0.191116  0.507273 -0.066672  0.435108  0.705950  0.897066
G  0.308596  0.165089  1.377872  0.633433  0.316901  0.625497

In [59]:
df2.shape

(3, 4)

In [64]:
df

          A         B         C         D         G         F       new
B  0.749120  1.789837 -0.347599  0.158125  0.030130 -0.423488  0.325632
C  0.943171 -1.535518  0.620289  0.025922 -0.628316 -0.041838  0.901334
D  0.191116  1.840702  0.507273 -0.066672  0.435108  0.705950  0.897066
G  0.308596 -0.524777  0.165089  1.377872  0.633433  0.316901  0.625497

In [65]:
df.drop('B',axis=0,inplace=True)

In [69]:
df['A']

C    0.943171
D    0.191116
G    0.308596
Name: A, dtype: float64

In [73]:
df.iloc[[1,2],[2,4]]

          C         G
D  0.507273  0.435108
G  0.165089  0.633433

In [80]:
df.loc[['C','G'],['B','G']]

          B         G
C -1.535518 -0.628316
G -0.524777  0.633433

In [91]:
a=df['B']<0

In [92]:
a

C     True
D    False
G     True
Name: B, dtype: bool

In [87]:
df[a]

          A         B         C         D         G        F       new
D  0.191116  1.840702  0.507273 -0.066672  0.435108  0.70595  0.897066

In [89]:
b=df>0

In [107]:
df['C']>0

C    True
D    True
G    True
Name: C, dtype: bool

In [112]:
df[df['C']>0]

          A         B         C         D         G         F       new
C  0.943171 -1.535518  0.620289  0.025922 -0.628316 -0.041838  0.901334
D  0.191116  1.840702  0.507273 -0.066672  0.435108  0.705950  0.897066
G  0.308596 -0.524777  0.165089  1.377872  0.633433  0.316901  0.625497

In [116]:
df[['D','G']]

          D         G
C  0.025922 -0.628316
D -0.066672  0.435108
G  1.377872  0.633433

In [122]:
df[['D','G']]['D'].loc['C']

AttributeError: 'numpy.float64' object has no attribute 'loc'