In [33]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [12]:
d={'A':[1,2,np.nan],'B':[54,25,63],'C':[np.nan,25,89]}

In [101]:
df=pd.DataFrame(d)

In [102]:
df

     A   B     C
0  1.0  54   NaN
1  2.0  25  25.0
2  NaN  63  89.0

In [20]:
df.dropna(thresh=1)

     A   B     C
0  1.0  54   NaN
1  2.0  25  25.0
2  NaN  63  89.0

In [22]:
df.fillna('Fill value')

            A   B           C
0         1.0  54  Fill value
1         2.0  25        25.0
2  Fill value  63        89.0

In [25]:
row_value='A B C D E F G H I J K'

In [27]:
column_value='0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16'

In [30]:
row=row_value.split()

In [32]:
column=column_value.split()

In [181]:
df=pd.DataFrame(randn(len(row),len(column)),row,column)

In [73]:
n=df[['1', '2']].loc[['A','B']]

In [72]:
n.loc[['A','B'],['1']]

    1
A NaN
B NaN

In [104]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
A,0.919175,1.167959,0.382118,-1.144787,-0.671481,1.012027,0.398036,0.190001,-0.341609,-1.172835,-0.091457,-0.343742,-0.882597,0.262045,0.349677,-0.811381,1.671847
B,0.016452,-1.091550,0.464606,1.655110,-0.848021,-0.537904,0.752951,-0.187954,-1.925549,-0.813216,0.566044,0.678681,-0.316077,-1.904387,1.989658,0.532440,2.443485
C,-1.777170,0.466493,-0.597855,1.445742,1.174068,0.229332,1.008128,-0.809464,-1.375758,0.364931,-1.807773,0.488248,0.298548,0.440135,-2.733312,1.484257,1.232962
D,2.267169,-1.288283,-1.209571,0.650490,-1.822658,0.460908,-0.121918,0.426948,-0.623463,1.793528,1.033614,0.091081,-1.550452,-0.528135,1.217874,0.339620,0.250251
E,2.745753,0.583986,-0.462914,1.569958,-1.379875,0.303191,0.789161,0.274859,0.602720,-0.366033,-0.356929,0.362493,-1.614040,-0.698603,0.997647,0.615336,-1.483112
F,1.401054,0.328642,-0.808826,1.040083,-0.452927,0.300699,1.529527,1.742789,-1.241451,0.808543,-1.805882,0.467089,0.427911,0.185999,-0.542765,-0.062439,0.472059
G,-1.236588,-1.067765,-0.312143,0.587379,-0.042269,1.160856,0.936780,-0.422626,-0.982292,-0.433919,-1.101370,-0.280151,0.638144,0.221881,-0.553096,-1.096193,0.495258
H,-0.622345,-0.017349,2.536431,0.596979,-0.632764,-0.067816,2.642887,0.404855,-0.802960,-0.944652,-1.145844,-1.016532,-0.454650,1.389968,1.342923,0.675403,0.406488
I,0.685388,-0.640550,0.234059,1.077348,1.164841,-1.248666,-1.656081,-0.838086,0.550825,-0.993025,0.124995,1.591683,0.992756,-0.954050,-0.044513,0.823128,-0.087050
J,0.718846,-0.322228,0.125627,-0.142411,-0.139306,1.071923,0.188405,0.281157,0.830110,1.885359,-0.201710,0.083283,-0.821611,-2.366804,0.057914,-1.975633,-0.781411
K,0.268894,1.070676,0.149491,1.986288,1.191991,0.062537,-0.308077,1.539830,-0.137253,2.166026,0.747595,0.067456,-1.222575,-0.862385,1.479080,-1.583658,1.391014

SyntaxError: invalid syntax (<ipython-input-109-41396d849153>, line 1)

In [140]:
df.loc['C':'D','1':'2']=np.nan

In [142]:
df.dropna()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
A,0.919175,1.167959,0.382118,-1.144787,-0.671481,1.012027,0.398036,0.190001,-0.341609,-1.172835,-0.091457,-0.343742,-0.882597,0.262045,0.349677,-0.811381,1.671847
B,0.016452,-1.091550,0.464606,1.655110,-0.848021,-0.537904,0.752951,-0.187954,-1.925549,-0.813216,0.566044,0.678681,-0.316077,-1.904387,1.989658,0.532440,2.443485
E,2.745753,0.583986,-0.462914,1.569958,-1.379875,0.303191,0.789161,0.274859,0.602720,-0.366033,-0.356929,0.362493,-1.614040,-0.698603,0.997647,0.615336,-1.483112
F,1.401054,0.328642,-0.808826,1.040083,-0.452927,0.300699,1.529527,1.742789,-1.241451,0.808543,-1.805882,0.467089,0.427911,0.185999,-0.542765,-0.062439,0.472059
G,-1.236588,-1.067765,-0.312143,0.587379,-0.042269,1.160856,0.936780,-0.422626,-0.982292,-0.433919,-1.101370,-0.280151,0.638144,0.221881,-0.553096,-1.096193,0.495258
H,-0.622345,-0.017349,2.536431,0.596979,-0.632764,-0.067816,2.642887,0.404855,-0.802960,-0.944652,-1.145844,-1.016532,-0.454650,1.389968,1.342923,0.675403,0.406488
I,0.685388,-0.640550,0.234059,1.077348,1.164841,-1.248666,-1.656081,-0.838086,0.550825,-0.993025,0.124995,1.591683,0.992756,-0.954050,-0.044513,0.823128,-0.087050
J,0.718846,-0.322228,0.125627,-0.142411,-0.139306,1.071923,0.188405,0.281157,0.830110,1.885359,-0.201710,0.083283,-0.821611,-2.366804,0.057914,-1.975633,-0.781411
K,0.268894,1.070676,0.149491,1.986288,1.191991,0.062537,-0.308077,1.539830,-0.137253,2.166026,0.747595,0.067456,-1.222575,-0.862385,1.479080,-1.583658,1.391014

In [165]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
A,-0.132369,-0.610534,1.029534,1.021607,-1.656946,-2.969575,0.756684,-0.835150,-0.341722,-1.510319,-0.030081,-0.921968,1.068328,0.407396,1.006335,1.116214,-0.804664
B,0.778966,-0.468626,0.100593,1.652399,0.870644,0.505276,-1.191177,1.387694,-1.734576,0.594443,1.211241,-0.918856,0.885520,1.857753,-0.105148,1.385528,1.577551
C,1.982321,0.154346,1.345768,2.191201,-0.059296,-0.800897,-0.222070,1.996669,-1.175053,0.629279,1.212553,-0.724929,0.261093,0.543161,0.934394,-1.963151,0.141024
D,1.021329,0.345984,-0.618543,-0.507481,0.817744,0.023692,-0.198280,1.593700,0.061314,1.409886,0.648635,2.112185,-0.115662,-0.470381,1.336893,-0.166710,-0.837420
E,0.721279,0.806234,-0.401082,-0.593214,-1.520269,-0.140285,-0.771423,-0.012809,-1.106525,-0.824907,0.865193,-1.753913,-0.657627,1.194699,-0.818413,-0.256913,0.874707
F,-0.607602,-0.888524,1.302415,0.434209,-1.349956,-1.828931,-1.207813,-0.171452,-0.718818,0.865271,0.167986,0.742080,1.951565,1.040328,0.931445,-0.959217,0.199539
G,-0.222346,1.694585,0.633795,-0.136738,0.171282,-0.029843,1.313049,-0.642493,-0.403917,-1.118445,0.292162,0.187606,-1.771006,0.037406,-1.593257,-1.567887,-1.042121
H,-0.624243,0.240562,-0.177181,-1.671469,-0.763823,0.046267,1.250632,-1.059255,-1.123195,0.786841,1.346583,-0.916683,1.012273,1.573103,-1.255656,-1.292830,1.222355
I,-0.833626,-0.555750,0.777964,0.813538,-1.487778,-0.767115,1.547115,1.714033,-0.702416,0.908630,-0.537484,0.187709,-0.344188,-1.678489,2.012933,-1.008015,1.224257
J,-1.566928,-0.612813,-0.114900,0.263359,-0.835443,1.206947,-0.179351,-0.442508,-0.276215,-0.016930,-0.275700,-0.696955,0.051218,-1.221922,0.210419,0.639470,0.563906
K,-0.961771,-0.769656,-1.044176,0.968711,0.488791,-0.729352,1.327977,0.494786,0.632991,0.605703,-0.249861,-1.639403,-1.400018,2.449708,-1.336199,1.617125,0.300032

In [169]:
df.drop('A', axis=0, inplace=True)

KeyError: "['A'] not found in axis"

In [200]:
df.dtypes

0     float64
1     float64
2     float64
3     float64
4     float64
5     float64
6     float64
7     float64
8     float64
9     float64
10    float64
11    float64
12    float64
13    float64
14    float64
15    float64
16    float64
dtype: object

In [203]:
import requests

# Define the API endpoint URL
url = 'https://jsonplaceholder.typicode.com/todos/1'

# Make a GET request to the API endpoint
response = requests.get(url)

# Parse the JSON response into a Python dictionary object
data = response.json()

# Print the response data
print(data)

{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False}

In [204]:
from urllib.request import urlcleanup
import requests

url='https://maps.googleapis.com/maps/api/'

response=requests.get(url)

data=response.json()

print(data)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)