In [4]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [7]:
df=pd.DataFrame(randn(10,10),['A','B','C','D','E','F','G','H','I','J'],['1','2','3','4','5','6','7','8','9','10'])

In [12]:
df[(df['1']>0) & (df['2']<0)]

,1,2,3,4,5,6,7,8,9,10
C,0.651621,-0.680689,0.996146,-0.901730,-2.016029,-0.314471,-0.675723,0.525611,-0.730878,1.192532
D,0.115956,-0.011355,0.467269,1.713953,-0.458948,-1.733005,0.506271,-1.072361,-0.792814,0.669532
G,0.729570,-2.364663,-0.870545,0.408849,-0.479916,0.113049,0.819579,-0.545743,0.972413,0.568788

In [15]:
df['1']>0

A    False
B    False
C     True
D     True
E    False
F    False
G     True
H     True
I    False
J    False
Name: 1, dtype: bool

In [18]:
df['2']<0

A    False
B     True
C     True
D     True
E    False
F     True
G     True
H    False
I    False
J    False
Name: 2, dtype: bool

In [20]:
df.reset_index()

,index,1,2,3,4,5,6,7,8,9,10
0,A,-0.874460,1.166147,-0.200037,0.486554,-0.931513,-0.766455,-0.024259,-0.257672,0.027882,0.059733
1,B,-0.411413,-0.082287,-0.017135,-0.660121,1.511204,-0.945572,-1.529875,-0.188206,-0.605525,-0.631509
2,C,0.651621,-0.680689,0.996146,-0.901730,-2.016029,-0.314471,-0.675723,0.525611,-0.730878,1.192532
3,D,0.115956,-0.011355,0.467269,1.713953,-0.458948,-1.733005,0.506271,-1.072361,-0.792814,0.669532
4,E,-1.416285,0.324380,-1.453306,-0.886233,-0.012451,-2.032520,0.620066,-1.384910,-0.562978,-0.642583
5,F,-0.086216,-2.785708,-1.971880,-0.720136,-0.081784,-0.724326,-1.662240,0.563097,-1.110973,0.328690
6,G,0.729570,-2.364663,-0.870545,0.408849,-0.479916,0.113049,0.819579,-0.545743,0.972413,0.568788
7,H,1.050075,1.348266,1.059340,1.988782,1.539059,-1.425556,-0.656193,-1.462197,-0.136152,0.794270
8,I,-1.282577,0.888395,-0.709041,1.107065,1.426382,0.348351,-0.711297,-2.128441,0.149745,1.483095
9,J,-0.004608,0.243317,0.088585,0.239561,-1.129198,-0.973226,-0.175299,-0.525384,0.025442,-0.326986

In [30]:
state='NR BD VG JH LK IJ ZG RT ZT FD'

In [31]:
state_lis=state.split()

In [34]:
df['States']=state_lis

In [36]:
df

,1,2,3,4,5,6,7,8,9,10,States
A,-0.874460,1.166147,-0.200037,0.486554,-0.931513,-0.766455,-0.024259,-0.257672,0.027882,0.059733,NR
B,-0.411413,-0.082287,-0.017135,-0.660121,1.511204,-0.945572,-1.529875,-0.188206,-0.605525,-0.631509,BD
C,0.651621,-0.680689,0.996146,-0.901730,-2.016029,-0.314471,-0.675723,0.525611,-0.730878,1.192532,VG
D,0.115956,-0.011355,0.467269,1.713953,-0.458948,-1.733005,0.506271,-1.072361,-0.792814,0.669532,JH
E,-1.416285,0.324380,-1.453306,-0.886233,-0.012451,-2.032520,0.620066,-1.384910,-0.562978,-0.642583,LK
F,-0.086216,-2.785708,-1.971880,-0.720136,-0.081784,-0.724326,-1.662240,0.563097,-1.110973,0.328690,IJ
G,0.729570,-2.364663,-0.870545,0.408849,-0.479916,0.113049,0.819579,-0.545743,0.972413,0.568788,ZG
H,1.050075,1.348266,1.059340,1.988782,1.539059,-1.425556,-0.656193,-1.462197,-0.136152,0.794270,RT
I,-1.282577,0.888395,-0.709041,1.107065,1.426382,0.348351,-0.711297,-2.128441,0.149745,1.483095,ZT
J,-0.004608,0.243317,0.088585,0.239561,-1.129198,-0.973226,-0.175299,-0.525384,0.025442,-0.326986,FD

In [39]:
df.set_index('States')

,1,2,3,4,5,6,7,8,9,10
States,,,,,,,,,,
NR,-0.874460,1.166147,-0.200037,0.486554,-0.931513,-0.766455,-0.024259,-0.257672,0.027882,0.059733
BD,-0.411413,-0.082287,-0.017135,-0.660121,1.511204,-0.945572,-1.529875,-0.188206,-0.605525,-0.631509
VG,0.651621,-0.680689,0.996146,-0.901730,-2.016029,-0.314471,-0.675723,0.525611,-0.730878,1.192532
JH,0.115956,-0.011355,0.467269,1.713953,-0.458948,-1.733005,0.506271,-1.072361,-0.792814,0.669532
LK,-1.416285,0.324380,-1.453306,-0.886233,-0.012451,-2.032520,0.620066,-1.384910,-0.562978,-0.642583
IJ,-0.086216,-2.785708,-1.971880,-0.720136,-0.081784,-0.724326,-1.662240,0.563097,-1.110973,0.328690
ZG,0.729570,-2.364663,-0.870545,0.408849,-0.479916,0.113049,0.819579,-0.545743,0.972413,0.568788
RT,1.050075,1.348266,1.059340,1.988782,1.539059,-1.425556,-0.656193,-1.462197,-0.136152,0.794270
ZT,-1.282577,0.888395,-0.709041,1.107065,1.426382,0.348351,-0.711297,-2.128441,0.149745,1.483095
FD,-0.004608,0.243317,0.088585,0.239561,-1.129198,-0.973226,-0.175299,-0.525384,0.025442,-0.326986

In [45]:
row_wert='A B C D F G H J K L O U T D G B S'

In [48]:
row=row_wert.split()

In [50]:
column_wert='1 2 3 4 5 6 7 8 9 10 11 12 '

In [55]:
column=column_wert.split()

In [65]:
len(row)

17

In [67]:
df2=pd.DataFrame(randn(len(row),len(column)),row,column)

In [69]:
df2

,1,2,3,4,5,6,7,8,9,10,11,12
A,-0.264164,-0.767903,0.476231,-0.065991,0.264178,-1.606846,0.300220,-1.263369,-1.565953,-0.087833,0.250395,1.955841
B,0.508594,-0.620949,-0.120840,0.686895,-1.088492,1.323372,0.777157,0.065374,-1.320964,0.694119,0.986235,-0.616790
C,-1.378382,-1.394405,-1.384126,0.729800,0.952104,-1.528968,0.169041,-1.554269,-1.915775,-0.736885,-0.553651,-0.725332
D,-0.750770,1.645896,-0.863801,-2.040281,-0.899132,-0.728223,-0.968538,-0.441036,0.603630,0.563470,-0.721925,-0.139640
F,0.123012,-0.744665,1.391623,-1.107257,-1.791033,-0.447449,-0.096698,-1.074373,-1.585771,1.048667,1.169363,-0.575040
G,0.479716,-0.457500,-0.641330,0.288608,-2.208541,-0.269530,0.942807,-0.751599,0.277320,0.699212,2.393487,-1.399632
H,-1.146715,-0.614849,1.219312,-0.151057,0.364158,0.017470,-0.022588,-0.891052,0.898531,-0.691270,-0.923809,-0.218063
J,-0.946361,0.758989,-2.154984,-1.246864,-0.984469,-0.980502,-2.238469,0.786484,-0.648413,-1.220662,-0.764480,0.655066
K,-0.126291,-2.040651,-1.586831,-1.909834,-0.400357,-0.253390,-0.281066,-0.136370,0.464784,0.156799,-1.665510,0.172878
L,-0.178018,-0.256286,-0.018349,-1.418073,-0.389990,-0.196016,-0.052295,-1.579819,1.146773,1.106091,-0.361329,-0.116355
O,-0.158479,0.800400,-1.556396,-1.648593,-0.320637,2.734275,1.747149,0.277959,0.521531,-0.617858,-0.307189,0.347607
U,1.261511,-0.869301,-1.027780,-1.094412,1.547044,-0.559095,1.378663,-1.405285,0.226735,-0.407336,-0.233969,0.234215
T,1.290209,-0.459571,0.835437,1.535001,-0.709954,2.431081,-1.312226,0.692346,0.512061,-0.265633,1.075897,0.407939
D,0.294271,-0.156550,-0.713352,-1.266125,-1.691282,-0.394495,-0.391839,2.071157,-0.596575,0.818324,0.253502,2.006823
G,-0.646161,-0.072771,0.972338,-0.062939,-1.218071,1.831573,-0.076130,0.579602,0.801869,0.565483,1.618545,-0.045064
B,0.665006,0.356079,-1.253983,1.759125,-0.825013,0.750035,-0.906267,0.335329,0.516237,-1.044130,-0.329538,0.237431
S,-0.211259,0.748880,-2.061498,0.273510,0.097051,-0.733879,1.014069,-0.488145,0.586785,1.584781,0.184173,1.120528

In [74]:
df2.loc['A',['1','3']]

1   -0.264164
3    0.476231
Name: A, dtype: float64